html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  color: var(--black);
  background: #F5F6F8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root {
	--black: #3B434E;
	--white: white;
	--grey-light: #EBEBEB;
	--grey: #A4A4A4;
	--grey-dark: #787D85;
	--primary: #7653FC;
	--primary-hover: #6344df;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8C4;
	--font-famly: 'Open Sans';
}
